#/**************************************************************\
#| restapi.chat.service |   Unit-файл описания RESTful Chat API-сервиса   |
#\**************************************************************/

# Unit-файл необходимо скопировать в папку: /etc/omc/api.apivox.com/services/restapi.chat.service/systemd
# Затем создать одноименный symlink на Unit-файл в папке /etc/systemd/system
# Далее перезагрузить все Unit-файлы командой: 'systemctl daemon-reload'

# Запуск сервиса: 'systemctl start restapi.chat.service'
# Перезапуск сервиса: 'systemctl restart restapi.chat.service'
# Останов сервиса: 'systemctl stop restapi.chat.service'
# Состояние сервиса: 'systemctl status restapi.chat.service - l'

[Unit]
# Описание сервиса
Description=restapi.chat.service
# Запускать после старта сети
After=network.target

[Service]
# Тип сервиса
Type=simple
# Местонахождение PID-файла с идентификатором процесса
PIDFile=/etc/omc/api.apivox.com/services/restapi.chat.service/service.pid
# Имя пользователь и группа от котрого будет запускаться сервис
User=root
Group=root
# Консольная команда запуска сервиса
ExecStart=/etc/omc/api.apivox.com/services/restapi.chat.service/service/restapi.chat.bin -home /etc/omc/api.apivox.com/services/restapi.chat.service
# Всегда перезапускать сервис при падении
Restart=always

[Install]
WantedBy=multi-user.target
